.mt2 {
  margin-top: 2em;
}
.mr025 {
  margin-right: 0.25em;
}
.mb2 {
  margin-bottom: 1em;
}
.ml025 {
  margin-left: 0.25em;
}
.pt1 {
  padding-top: 1em;
}
.pt6 {
  padding-top: 6em;
}
.pb6 {
  padding-bottom: 6em;
}

.App {
  text-align: center;
}
